<nb-layout>

  <nb-layout-header fixed>
    <nb-actions class="left">
      <nb-action class="profile" [nbContextMenu]="items" nbContextMenuPlacement="bottom">Profile</nb-action>
      <nb-action>Settings</nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column>
    <div class="row">
      <div class="col-lg-6" *ngFor="let item of textList; let index = index" (click)="clickText(text, index)">
        <nb-card [ngClass]="{ 'active': index == currentIndex }">
          <nb-card-header>{{ item.title }} {{ index }}</nb-card-header>
          <nb-card-body>

            <textarea [rows]="item.lineLength" nbinput="" fullwidth="" shape="round" placeholder="Text Area"
              class="input-full-width size-medium status-basic shape-round nb-transition"
              disabled> {{ item.content }}</textarea>
          </nb-card-body>
        </nb-card>
      </div>

    </div>







  </nb-layout-column>

  <nb-layout-footer fixed>
  </nb-layout-footer>

</nb-layout>
